<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/chatroom.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>chatApp</title>
    <script src="/public/js/socket.io.min.js" defer></script>
    <script src="/public/js/chatroom.js" defer></script>
</head>

<body onload="chatttBox()">
    <div class="all">
        <div class="fixed top-0 right-0 left-0 h-12 bg-pink-200 z-10 flex justify-center items-center shadow-md">
            <p class="text-center text-pink-800">Online: &nbsp; <span id="onlines"></span></p>
        </div>
        <div id="chat-box" class="flex flex-col items-start gap-3 py-20 px-2">
            <% for(let i of data){ %>

                <div
                    class="flex flex-col items-stretch gap-1.5 bg-pink-100 px-4 py-1.5 rounded-lg shadow border-solid border-pink-300 border select-none">
                    <div class="flex flex-row gap-3 items-stretch w-full">
                        <span class="text-gray-500 text-xs">
                            <%= i.name %>
                        </span>
                        <span class="text-gray-500 text-xs">
                            <%= i.time %>
                        </span>
                    </div>
                    <p dir="auto" class="text-gray-700">
                        <%= i.message %>
                    </p>
                </div>

                <% } %>
        </div>

        <form id="chat-Form" class="fixed bottom-0 right-0 left-0 flex flex-row z-10">
            <input placeholder="متن پیام..." name="message" id="message-Input" type="text"
                class="grow p-4 bg-pink-200" />
            <button type="submit"
                class="bg-pink-500 hover:bg-pink-600 text-white p-4 transition duration-300">ارسال</button>
        </form>
    </div>
</body>
</html>