<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="singUpPublic/style.css">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>

<body>
    <br><br><br><br><br>
    <div>
        <form method="post" action="/infoSingUp">
            <div>
                <h1>singUp</h1>
            </div>
            <input placeholder="userName" oninput="typinggg()" id="input1" name="userNameSingUp" type="text">
            <input placeholder="password" oninput="typinggg()" id="input2" name="passWordSingUp" type="text">
            <button disabled id="btnSubmit" type="submit">singUp</button>
            <hr>
            <p>
                <%= noteSingUp %>
            </p>
            <a href="digikala.com">singIn</a>
        </form>
    </div>
</body>
<script src="singUpPublic/script.js"></script>

</html>